.card-context{
    max-width: 62rem;
    margin: 4rem auto;

    background: #9393933b;
    padding: 3rem;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 4rem 0; 
}

.image-card{
    width: 6rem;
}

.add-product{
    max-width: 62rem;
    margin: 4rem auto;

    display: flex;
    justify-content: space-between;
}

.add button{
    background: #9393933b;
    padding: 10px 15px;

    border: 0;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
}